@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #212529;
    color: white;
}

a, .btn-link {
    color: lightgrey !important;
}

.form-control {
    background-color: #555a60 !important;
    border-color: #555a60 !important;
    color: white !important;
}

input:disabled {
    color: #d9d9d9 !important;
    -webkit-text-fill-color: #d9d9d9;
    opacity: 1; /* required on iOS */
}
input::-webkit-input-placeholder {
    color: #d9d9d9 !important;
}
input::-moz-placeholder {
    color: #d9d9d9 !important;
}
input::placeholder {
    color: #d9d9d9 !important;
}

.btn-primary, .progress-bar {
    color: #ffffff;
    background-color: #CE8C52;
    border-color: #9C6B40;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #ffffff;
        background-color: #9C6B40 !important;
        border-color: #9C6B40 !important;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #CE8C52 !important;
        border-color: #9C6B40 !important;
    }

    .btn-primary .badge {
        color: #CE8C52;
        background-color: #ffffff;
    }

.btn-vote {
    max-width: 100px;
}

.btn-admin {
    max-width: 170px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.col > .row {
    margin-left: 0px;
    margin-right: 0px;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    background: #212529;
}

.main {
    flex: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


        .main .top-row > a, .main .top-row .btn-link {
                        white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.card {
    margin-bottom: 2rem;
}

.jumbotron {
    transition: all 300ms linear;
}

.jumbo-shrink {
    padding: 2rem;
}

.jumbo-shrink h1 {
    font-size: 2rem;
}

.jumbo-shrink .lead {
    display: none;
}

.progress {
    height: 30px;
    background-color: #555a60;
}

.progress-label {
    line-height: 30px;
    float: left;
    width: 30px;
}

.progress-note {
    text-align: center;
    font-size: 0.8rem;
}

#blazor-error-ui {
    display: none;
}

    #blazor-error-ui .modal-content {
        background-color: #008080;
    }

@media (max-width: 767.98px) {
    .display-4 {
        font-size: 1.5rem !important;
    }

    .lead {
        font-size: 1rem;
    }

    .main {
        margin-left: 20px;
        margin-right: 20px;
    }
    .content {
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 450px) {
    .vote-grp-lg, .nav-menu {
        display: none !important;
    }
}

@media (min-width: 450px) {
    .vote-grp-sm {
        display: none;
    }
}