@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <div>Scrum Poker Cards</div>
        <div class="ml-auto">
            <a href="/">User</a>
            <a href="/admin">Admin</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
