@page "/about"

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Latest Release</h5>
        <hr />
        <div class="release-notes">@LatestVersion</div>
        <hr />
        <a class="btn btn-secondary btn-sm" href="/release-notes" target="_blank">Previous Releases</a>
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Stats</h5>
        <hr />
        <div class="row mb-0">
            <div class="col-md col-12">
                <label>Current Connected Users</label>
                <div>@VotingService.ConnectedClients</div>
            </div>
            <div class="col-md col-12 pt-md-0 pt-2">
                <label>System Uptime</label>
                <div>@Uptime</div>
            </div>
        </div>
    </div>
</div>
