@page "/about"

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Latest Release</h5>
        <hr />
        <div class="release-notes">@LatestVersion</div>
        <hr />
        <a href="/release-notes" target="_blank">Click here for a list of previous releases.</a>
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Stats</h5>
        <hr />
        Current Connected Users: @VotingService.ConnectedClients
    </div>
</div>
