@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h5>Scrum Poker Cards</h5>
        <div class="ml-auto">
            <a href="/" class="pr-4">Team</a>
            <a href="/master">Scrum Master</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
