@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-custom">
        <a class="navbar-brand" href="/">
            <img src="_content/ScrumStorySizer.Library/logo.png" width="30" height="30" class="d-inline-block align-top rounded mr-1" alt="logo">
            ScrumStorySizer
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link @(CurrentPage == string.Empty ? "active" : string.Empty)" href="/">Team</a>
                <a class="nav-item nav-link @(CurrentPage == "master" ? "active" : string.Empty)" href="/master">Scrum Master</a>
                <a class="nav-item nav-link @(CurrentPage == "settings" ? "active" : string.Empty)" href="/settings">Settings</a>
            </div>
        </div>
    </nav>

    <div class="content px-4">
        @Body
    </div>
</div>
