@page "/master"

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Scrum Master</h5>
        <hr />
        @if (DevOpsCredential is null)
        {
            <StandardStory />
        }
        else
        {
            <StandardStory />
        }
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Results</h5>
        <hr />
        @if (!PokerVote.ShowVotes)
        {
            <div class="row">
                <div class="col">
                    @PokerVote.StorySizeVotes.Count() votes counted.
                </div>
            </div>
        }
        else
        {
            <Votes SizeVotes="PokerVote.StorySizeVotes" />
        }
    </div>
</div>