<div id="message-modal" tabindex="0" class="modal @(showing ? "show-modal" : string.Empty)">
    <div class="modal-content d-block">
        <div id="message-modal-body" class="d-inline-block">@message</div>
        <div class="text-right dismiss d-inline-block pl-2" @onclick="() => showing = false">Dismiss</div>
    </div>
</div>