<div class="row">
    <div class="col-md-4 col-lg-3 col">
        <label style="width:100%" id="work-item-id">Work Item ID</label>
        <input autofocus class="form-control" style="max-width:600px;" type="text" @onfocusout="GetWorkItem"
            @onkeydown="IdKeyDown" @bind-value="_workItemId" @bind-value:event="oninput" for="work-item-id" @ref="_workItemIdInput" />
    </div>
</div>