@using Microsoft.AspNetCore.SignalR.Client

@if (State != HubConnectionState.Connected && State != HubConnectionState.Connecting)
{
    <div id="connection-modal" tabindex="0" class="modal">
        <div id="connection-modal-body" class="modal-content d-block">
            <div class="d-inline-block">@(ConnectionState)@(State == HubConnectionState.Disconnected ? "." : "...")</div>
            @if (State == HubConnectionState.Disconnected)
            {
                <div class="text-right dismiss d-inline-block pl-2" @onclick="() => NavigationManager.NavigateTo(NavigationManager.Uri, true)">Reload</div>
            }
        </div>
    </div>
}