@if (showing)
{
    <div id="message-modal" tabindex="0" class="modal">
        <div class="modal-content d-flex">
            @if (isMarkUp)
            {
                <div id="message-modal-body" class="d-inline-block">@markupMessage</div>
            }
            else
            {
                <div id="message-modal-body" class="d-inline-block">@message</div>
            }
            <div class="text-right dismiss d-inline-block pt-2" @onclick="() => showing = false">Dismiss</div>
        </div>
    </div>
}