<div class="row">
    <div class="col">
        <h6 class="card-title">Story Name</h6>
        <h4>@(string.IsNullOrWhiteSpace(PokerVote.WorkItem?.Title) ? "Waiting..." : PokerVote.WorkItem.Title)</h4>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(_description.Value))
{
    <hr />
    <div class="row">
        <div class="col">
            <h6 class="card-title">Description</h6>
            <div>@_description</div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(_acceptanceCriteria.Value))
{
    <hr />
    <div class="row">
        <div class="col">
            <h6 class="card-title">Acceptance Criteria</h6>
            <div>@_acceptanceCriteria</div>
        </div>
    </div>
}