<div class="work-item-details scrollable">
    <div class="row my-0">
        <div class="col">
            <h6 class="card-title">Story Name</h6>
            <h4 class="mb-0">@(string.IsNullOrWhiteSpace(VotingService.VotingServiceData.WorkItem?.Title) ? "Waiting..." : VotingService.VotingServiceData.WorkItem.Title)</h4>
        </div>
    </div>

    @if (_descriptionFields?.Any() == true)
    {
        @foreach (MarkupDescriptionField descriptionField in _descriptionFields)
        {
            <div class="row mb-0 mt-4">
                <div class="col">
                    <h6 class="card-title">@descriptionField.DisplayName</h6>
                    <div>@descriptionField.MarkupValue</div>
                </div>
            </div>
        }
    }
</div>